.plugin-container {
	width: 100%;
    min-width: 500px;
    max-width: 800px;
}

.table-header,
.table-row {
	display: flex;
	justify-content: space-between;
	padding: 12px;
}

.table-header {
	background-color: #606060;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.table-row {
	border-bottom: 1px solid #eee;
}

.even-row {
	background-color: #d4d4d4;
}

.odd-row {
	background-color: #f2f2f2;
}

.table-data {
	flex: 1;
	text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item {
	flex: 1;
	text-align: center;
    color: white;
}

ul {
    padding: 0px;
    margin: 0px;
}

.green-circle {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.red-circle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.toggleButton {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 18px;
    margin: 0px;
    width: 74%;
}

.toggleButton:hover {
    background-color: #0056b3;
}